<!DOCTYPE html>
<html>
<head>
    <title>Erro</title>
    <script>
        alert("Conta ou senha errada");
        window.location.href = "/login"; // Redireciona de volta ao login
    </script>
</head>
<body>
</body>
</html>